.hero-carousel {
  width: 100%;
  height: 100%;
}

.hero-carousel .swiper-slide {
  opacity: 0.4;
  padding-top: 24%;
}

.hero-carousel .swiper-slide-active {
  opacity: 1;
  padding-top: 24%;
}

.hero-carousel .swiper-pagination {
  position: absolute !important;
  bottom: 4% !important;
  right: 6% !important;
  width: auto !important;
	left: auto !important;
}

.hero-carousel .swiper-pagination-bullet-active {
     background-color: #FFF !important;
}

.hero-carousel .swiper-button-next,.swiper-button-prev {
  color: #FFF;
  display: flex;
  height: 110%;
  width: 2.5%;
  top: 0;
}

.hero-carousel .swiper-button-next::after,.swiper-button-prev::after {
  content: none;
}

.hero-carousel .swiper-button-next:hover::after {
  content: 'next';
}

.hero-carousel .swiper-button-prev:hover::after {
  content: 'prev';
}