.hero-carousel {
  width: 100%;
  height: 100%;
}

.hero img {
  object-fit: cover;
  width: 100%;
  border-radius: 4px;
  aspect-ratio: 16/9;
}

.hero .swiper-slide {
  opacity: 10%;
  margin-top: 8px;
}

.hero .swiper-slide-active {
  opacity: 100%;
}

.hero-carousel .swiper-pagination {
  position: absolute;
  bottom: 4%;
  right: 6%;
  width: auto;
	left: auto;
}

.hero-carousel .swiper-pagination-bullet-active {
     background-color: #FFF;
}

.hero-carousel  .swiper-button-next::after, .hero-carousel .swiper-button-prev::after {
  color: white;
  content: none;
}

.hero-carousel .swiper:hover .swiper-button-next::after {
  content: "next"
}

.hero-carousel .swiper:hover .swiper-button-prev::after {
  content: "prev"
}