
#hero.swiper {
  width: 100% !important;
  height: 330px !important;
}

#hero.swiper-slide {
  text-align: center;
  font-size: 18px;
  justify-content: center;
  align-items: center;
}

.swiper-pagination {
  position: absolute !important;
  bottom: 4% !important;
  right: 6% !important;
  width: auto !important;
	left: auto !important;
}
.swiper-pagination-bullet-active {
     background-color: #FFF !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #FFF;
  top: 8%;
  height: 100%;
}