.projects {
  width: 100%;
  height: 100%;
}

.swiper {
  width: 100%;
  height: 100%;
}

.projects img {
  object-fit: cover;
  width: 100%;
  border-radius: 4px;
  aspect-ratio: 16/9;
}

.partial {
  opacity: 20%;
}

/* Margins to enable overflows */
.projects .swiper-slide {
  margin-top: 4px;
  opacity: 10%;
}

.projects .swiper-slide-active, .projects .swiper-slide-next, .projects .swiper-slide-next + .swiper-slide{
  opacity: 100%;
}

/* Adjust margins for overflow */
@media screen and (max-width: 768px) {
  .projects .swiper-slide {
    margin-top: 8px;
  }
}

.project-list  .swiper-button-next::after, .project-list .swiper-button-prev::after {
  color: white;
  content: none;
}

.project-list .swiper:hover .swiper-button-next::after {
  content: "next"
}

.project-list .projects:hover .swiper-button-prev::after {
  content: "prev"
}


/* If button disabled hide */
.project-list .swiper .swiper-button-disabled {
  display: none;
}