#app { height: 100% }

.swiper {
  width: 100%;
  height: 45%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.not-active {
  background-color: rgb(196, 36, 36);
}

.active {
  background-color: rgb(73, 159, 3);
}

.swiper-pagination {
  position: absolute !important;
  bottom: 4% !important;
  right: 6% !important;
  width: auto !important;
	left: auto !important;
}
.swiper-pagination-bullet-active {
     background-color: #FFF !important;
}

.swiper-button-next,
.swiper-button-prev {
  color: #FFF;
}