.project {
  position: relative;
  width: 100%;
}

.project :hover {
  border: white solid 4px;
  border-radius: 4px;
  scale: 1.05;
  transition: ease-in-out 0.3s;

}

.project-container {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}